---
import Social from "./Social.astro";
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>Learn more about my projects on <Social platform="GitHub", domain="github.com/", username="lorimccaskill" />!</p>
    <p>Connect with me on <Social platform="LinkedIn", domain="linkedin.com/in/", username="lorimccaskill" /></p>
</footer>